<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AgriPredict - Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="auth-page">

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-logo">
            🚜
        </div>

        <h1>
            AgriPredict
        </h1>

        <p class="auth-subtitle">
            Create your account
        </p>


        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        <form method="POST"
              action="{{ url_for('register') }}">


            <div class="form-group">

                <label>
                    Full Name
                </label>

                <input type="text"
                       name="name"
                       placeholder="Enter your name"
                       required>

            </div>


            <div class="form-group">

                <label>
                    Email
                </label>

                <input type="email"
                       name="email"
                       placeholder="Enter your email"
                       required>

            </div>


            <div class="form-group">

                <label>
                    Password
                </label>

                <input type="password"
                       name="password"
                       placeholder="Create a password"
                       required>

            </div>


            <button type="submit"
                    class="primary-button full-button">

                Create Account

            </button>

        </form>


        <p class="auth-footer">

            Already have an account?

            <a href="{{ url_for('login') }}">
                Login
            </a>

        </p>

    </div>

</div>

</body>
</html>